@model IEnumerable<ApplicationUser>

<div class="container-fluid mt-2 mx-4 py-2 card shadow">
    <div class="row">
        <div class="col-sm-6">
            <h3>
                <i class="fa fa-list" aria-hidden="true"></i>
                قائــمة المســتخدمين
            </h3>
        </div>
        <div class="col-sm-6">
            <a class="p-2 b-primary float-left mb-1" asp-action="Register">
                <i class="fa fa-plus mr-0"></i> 
                إضافة مستخدم جديد
            </a>
        </div>
    </div>

    <div class="row">
        <div id="message" class="d-none">@TempData["message"]</div>
    </div>
    <div class="row">

        <table class="table d-table table-striped table-sm">
            <thead class="bg-primary text-white text-center py-3">
                <tr>
                    <th>الإسم </th>
                    <th> البريد الإلكتروني</th>
                    <th>رقم الهاتف</th>
                    <th>العمــليات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td><i class="fa fa-user-alt d-none-sm" ></i> @user.FirstName @user.LastName</td>
                        <td><i class="fa fa-envelope"></i> @user.Email</td>
                        <td><i class="fa fa-mobile-alt"></i> @user.PhoneNumber</td>
                        <td>
                            <a class="border p-1 btn ml-2" asp-action="Edit" asp-route-userId="@user.Id">
                                <i class="fa fa-pen"></i>
                                تعديل
                            </a>
                                <a id="" href="javascript:;" data-id="@user.Id" class="js-delete btn b-delete p-1">
                                <i class="fa fa-trash-alt"></i>
                            حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptionsBase
        {
                PageClasses = new[] { "page-link" },
                LiElementClasses = new[] { "page-item" },
                ContainerDivClasses = new[] { "pagination" }
            })
    </div>
</div>
@section Scripts{

    <script>

        $(document).ready(function () {
            var message = $('#message').text();
            if (message != '') {
                toastr.info(message, "تعديل المستخدم");
            }
        });


        $('.js-delete').on('click', function () {

            var btn = $(this);
            var Url = '/api/ApiAccount/' + btn.data('id');
            bootbox.confirm({
                message: "هل تريد حذف هذا المستخدم؟",
                buttons: {
                    confirm: {
                        label: 'نعم',
                        className: 'btn-danger mr-2'
                    },
                    cancel: {
                        label: 'لا',
                        className: 'd-default border'
                    }
                },
                callback: function (result) {
                    if (result) {
                        if (result) {
                            $.ajax({
                                url: Url,
                                method: 'DELETE',
                                success: function () {
                                    toastr.error('تم حذف العميل بنجاح!')
                                },
                                error: function () {
                                    toastr.warning('خطأ اثناء عملية الحذف')
                                }

                            });
                        }

                    }
                }
            });
        });









    </script>
}