@model IEnumerable<Order>
<div class="container-fluid m-2 py-2 card shadow">
    <div class="row">
        <div class="col-sm-6">
            <h2>
                <i class="fa fa-first-order fa-2x"></i>
                قائــمة الطلبـــات
            </h2>
        </div>
        <div class="col-sm-6">
            <a class="btn b-primary float-left mb-1" asp-action="create">
                <i class="fa fa-plus"></i>
                إضافة طلب جديد
            </a>
        </div>
    </div>
    <div class="row">
        <div id="message" class="d-none">@TempData["message"]</div>
    </div>

    <div class="row m-2">
        @if (Model !=null)
        {
            <table class="table d-table table-striped table-sm border">
                <thead class="bg-primary text-white text-center py-3">
                    <tr>
                        <th>إسم العميل</th>
                        <th> رقم الهاتف</th>
                        <th>نوع العميل</th>
                        <th> الكمية</th>
                        <th> اجمالي السعر</th>
                        <th> المبلغ المدفوع</th>
                        <th> المبلغ المتبقي</th>
                        <th>تاريخ التسليم</th>
                        <th>العمليــات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @if (item.Customer == null)
                                {

                                    @item.OrderDetails.CustomerName
                                }
                                else
                                {

                                    @item.Customer.Name
                                }
                            </td>
                            <td>
                                @if (item.Customer == null)
                                {

                                    @item.OrderDetails.Phone
                                }
                                else
                                {

                                    @item.Customer.Phone
                                }
                            </td>
                            <td>@item.OrderDetails.CustomerType</td>
                            <td>@item.OrderDetails.Quantity</td>
                            <td><b>@item.OrderDetails.TotalAmount جنية</b></td>
                            <td><b>@item.OrderDetails.ReceiptMonay جنية</b></td>
                            <td><b>@item.OrderDetails.RemanentMonay جنية</b></td>
                            <td>@item.OrderDetails.ReceiptDate.Humanize(culture: new CultureInfo("ar-AR"))</td>

                            <td><a asp-action="OrderDetails" asp-route-id="@item.Id">تفاصيل الطلب </a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptionsBase
            {
               ContainerDivClasses = new[] { "navigation" },
               LiElementClasses = new[] { "page-item" },
               PageClasses = new[] { "page-link" },
           })

        }
        else
        {
            <h2 class="mx-auto">
                قائمة العملاء فارغة
            </h2>
        }
    </div>
    </div>
@section Scripts{
    <script>
        $(function(){
var message = $("#message").text();
if(message !==''){
    toastr.success(message,"حفظ");
}

        });
    </script>
}