@model IEnumerable<CustomerOrderViewModel>
<div class="container-fluid m-2 py-2 card shadow">
    <div class="row">
        <div class="col-sm-6">
            <h2>
                <i class="fa fa-first-order fa-2x"></i>
                قائــمة الطلبـــات
            </h2>
        </div>
        <div class="col-sm-6">
            <a class="btn b-primary float-left mb-1" asp-action="create">
                <i class="fa fa-plus"></i>
                إضافة طلب جديد
            </a>
        </div>
    </div>
    <div class="row">
        <div id="message">@TempData["message"]</div>
    </div>

    <div class="row m-2">
         @if (Model.Count() > 0)
        {
            <table class="table d-table table-striped table-sm border">
                <thead class="bg-primary text-white text-center py-3">
                    <tr>
                        <th>إسم العميل</th>
                        <th>البريد الإلكتروني</th>
                        <th>رقم الهاتف</th>
                        <th>تاريخ الإضــافة</th>
                        <th>العمليــات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var field in Model)
                    {
                        <tr>
                            <td><i class="fa fa-user"></i> @field.FullName</td>
                            <td>@field.Category</td>
                            <td>@field.CustomerPhone</td>
                            <td>@field.CreatedAt  </td>
                            <td>
                                <a class="btn b-default p-1" asp-action="CustomerForm" title="تعديل بيانات العميل ..." asp-route-id="@field.Id">
                                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                    تعديل
                                </a>
                                <a href="javascript:;" data-id="@field.Id" title="حذف العميل ..."
                                   class="btn border p-1 js-delete b-default">
                                    <i class=" fa fa-trash " style="color: #df3434;"></i>
                                    حذف
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
    <h2 class="mx-auto"> 
        قائمة العملاء فارغة 
    </h2>
        }
    </div>
    </div>
@section Scripts{
    <script>
        $(function(){
var message = $("#message").text();
if(message !==''){
    toastr.success(message,"حفظ");
}

        });
    </script>
}