@model IEnumerable<DraperiesType>

<div class="container-fluid m-2 py-2 card shadow">
    <div class="row">
        <div class="col-sm-6">
            <h2><i class="fa fa-list fa-2x"></i>
                قائــمة الأقـمشة

            </h2>
        </div>
        <div class="col-sm-6">
            <a class="btn b-primary float-left mb-1" asp-action="Create">إضافة قماش جديد</a>
        </div>
    </div>
    <div class="row"> 
        <div class="d-none" id="message">@TempData["message"]</div>
    </div>
    <div class="row m-2">
        @if (Model.Count() > 0)
        {
            <table class="table d-table table-striped table-sm border">
                <thead class="bg-primary text-white py-3">
                    <tr>
                        <th>اسم القماش</th>
                        <th>الوصف</th> 
                        <th>الكمية المتوفرة (متر)</th>
                        <th>العمــليات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var drapery in Model)
                    {
                        <tr>
                            <td>@drapery.DraperyName</td>
                            <td>@drapery.Description</td>
                            <td>@drapery.AvailableLength <small>متر</small></td>
                            <td>@drapery.CreatedAt.Humanize(culture: new CultureInfo("ar-AR"))</td> 
                            <td>
                                <a asp-action="Create" asp-route-id="@drapery.Id" class="btn b-default p-1 ">
                                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                    تعديل</a>  
                                <a href="javascript:;" data-id="@drapery.Id" title="حذف القماش ..."
                                    class="btn border p-1 js-delete b-default">
                                    <i class=" fa fa-trash" style="color: #df3434;"></i>
                                    حذف
                                </a>

                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <h3 class="mx-auto">لم تقم بإضافة أقمشــة</h3>
        }
    </div>
</div>

@section Scripts{
<script>
    $(function(){
        var message  = $('#message').text(); 
            if(message !== '')
            {    
             toastr.info(message);
            }  


        $('.js-delete').on('click', function () { 
            var btn = $(this);
            var Url = '/api/ApiDraperies/' + btn.data('id');
            bootbox.confirm({
                message: "هل تريد حذف هذا العميل",
                buttons: {
                    confirm: {
                        label: 'نعم',
                        className: 'btn-danger mr-2'
                    },
                    cancel: {
                        label: 'لا',
                        className: 'd-default border'
                    }
                },
                callback: function (result) {
                    if (result) {
                        if (result) {
                            $.ajax({
                                url: Url,
                                method: 'DELETE',
                                success: function () {
                                     toastr.error('تم حذف العميل بنجاح!')
                                },
                                error: function () {
                                 toastr.warning('خطأ اثناء عملية الحذف')
                                }

                            });
                        }

                    }
                }
            });
        });
    
    });
</script> 
}