@model IEnumerable<Customer>
<div class="container-fluid m-2 py-2 card shadow">
    <div class="row">
        <div class="col-sm-6">
            <h2>
                <i class="fa fa-users fa-2x"></i>
                قائــمة العمـــلاء
            </h2>
        </div>
        <div class="col-sm-6">
            <a class="btn b-primary float-left mb-1" asp-action="CustomerForm">
                <i class="fa fa-plus"></i>
                إضافة عميل جديد
            </a>
        </div>
    </div>
    <div class="row m-2">
        @if (Model.Count() > 0)
        {
            <table class="table d-table table-striped table-sm border">
                <thead class="bg-primary text-white text-center py-3">
                    <tr>
                        <th>إسم العميل</th>
                        <th>البريد الإلكتروني</th>
                        <th>رقم الهاتف</th>
                        <th>تاريخ الإضــافة</th>
                        <th>العمليــات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td><i class="fa fa-user"></i> @customer.Name</td>
                            <td>@customer.Email</td>
                            <td>@customer.Phone</td>
                            <td>@customer.CreatedAt  </td>
                            <td>
                                <a class="btn b-default p-1" asp-action="CustomerForm" title="تعديل بيانات العميل ..." asp-route-id="@customer.Id">
                                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                    تعديل
                                </a>
                                <a href="javascript:;" data-id="@customer.Id" title="حذف العميل ..."
                                   class="btn border p-1 js-delete b-default">
                                    <i class=" fa fa-trash " style="color: #df3434;"></i>
                                    حذف
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
    <h2 class="mx-auto"> 
        قائمة العملاء فارغة 
    </h2>
        }
    </div>
</div>
@section Scripts{
    <script> 
        $(document).ready(function () {
            $('.js-delete').on('click', function () {

                var btn = $(this);
                var Url = '/api/ApiCustomer/' + btn.data('id');
                bootbox.confirm({
                    message: "هل تريد حذف هذا العميل",
                    buttons: {
                        confirm: {
                            label: 'نعم',
                            className: 'btn-danger mr-2'
                        },
                        cancel: {
                            label: 'لا',
                            className: 'd-default border'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if (result) {
                                $.ajax({
                                    url: Url,
                                    method: 'DELETE',
                                    success: function () {
                                        alert('تم حذف العميل بنجاح!')
                                    },
                                    error: function () {
                                        alert('خطأ اثناء عملية الحذف')
                                    }

                                });
                            }

                        }
                    }
                });

            });

        });

    </script>
}

@*
    <a asp-action="Delete" asp-route-id="@customer.Id" class="btn b-delete p-1">
    <i class=" fa fa-trash"></i>
    حذف
    </a>
*@